.shortDescription {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3% 5% 3% 5%;
}

.picDiv {
}

.aishwaryaImage {
    border-radius: 50%;
}

.introText {
    width: 700px;
    font-size: 16pt;
    font-family: 'EB Garamond', sans-serif;
}

.hi {
    text-align: left;
    font-family: 'Oswald', serif;
}

p {
    text-align: left;
}

.links {
    color: #f5bd1f;
    font-size: inherit;
    font-weight: bold;
    text-decoration: none;
}
